*{
  font-family: "sans-serif";
  text-align: center;
}

/*** MAIN, DIV and SECTION ***/
    main, div{
        margin: 2.5%;
        width: 85%;
        padding: 1%;
        border: solid 0.2em #222;
    }

    section, main>div{
        width: 75%;
        margin: 0 0 1% 10%;
        padding: 2.5%;
        border: dotted 0.2em #555;
    }

/*** TEXTS and HR ***/
    p{
        text-align: center;
        color: #222;
    }

    em{
        font-weight: bold;
    }

    hr{
        border: solid 0.1em #222;
    }

/*** DOM BONISA CLASSES ***/
    .bonisaWrapper{
        border-color: #1a1;
        background-color: #5f5;
    }

    .bonisaSlide{
        border-color: #181;
        background-color: #5c5;
    }

/*** OTHER CLASSES ***/
    main:not(.bonisaWrapper),
    div:not(.bonisaWrapper){
        border-color: #a11;
        background-color: #f55;
    }

    section:not(.bonisaSlide),
    main>div:not(.bonisaSlide),
    div>div:not(.bonisaSlide){
        border-color: #a11;
        background-color: #d33;
    }